/*
    Lista de cores para ser usadas

    principal: #FF4701
    majoritariamente branca: #F2F2F2
    preta: #000000

*/
*{
    box-sizing: border-box;
    font-family: SegoeUI;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: SegoeUI;
    src: url(../fonts/segoeui.ttf);
}
body{
    min-height: 100vh;
}
